aiohttp
python-dotenv
fastapi
uvicorn
pydantic
requests
pyaudio; platform_system == 'Windows' or platform_system == 'Darwin'
keyboard
mutagen
python-multipart
pillow
sqlalchemy
passlib
pymysql
pydantic[email]
bcrypt
httpx
openai
joblib
scikit-learn
assemblyai